*{
  margin : 0px;
  padding: 0px;
  outline: none;
}

body{
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
 
.header{
  width: 100%;
  background-color: #0c3f36;
}
.menu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#image{
  
  margin-right: 10px;
}
.first{
  display: flex;
  grid-column-gap: 10px;
}
.text-logo{
  color:#fcf9cc;
  margin-top: 20px;
}
.list{
  margin-top: 23px;
}

.ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.li{
  margin: auto 20px;
}
.a{
 color:  #fcf9cc;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 14px;
 letter-spacing: 2px;
}

button{
  margin-right: 20px;
  margin-top: 14px;
}
.signin{
 width: 120px;
 height: 37px;
 background-color: transparent;
 border: none;
 color:  #fcf9cc;
 font-size: 14px;
 letter-spacing: 1px;
}
.signup{
  width: 120px;
  height: 37px;
  border: none;
  background-color: #cea36f;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
}

.big-text{
  font-size: 57px;
  color:  #fcf9cc;
}
.center{
  margin-bottom: 50px;
  grid-column-gap: 190px;
  display:flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.imgone{
  padding: 10px;
}
.get{
  width: 160px;
  height: 38px;
  border: none ;
  background-color: #cea36f;
  color: #0c3f36;
  font-weight: 700;
}
.learn{
  width: 160px;
  height: 38px;
  border: none ;
  background-color:transparent;
  color: #f8f8f8;
  font-weight: 700;
  margin-left: -25px;
}
.plant{
  font-size: 35px;
  margin-top: 40px;
  color: #0c3f36;
  text-align: center;
  margin-bottom: 30px;
}
.image-center{
  margin: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.im{
  margin: 5px;
}

.bgreen{
  width: 100%;
  background-color: #0c3f36 ;
}
.top{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  grid-column-gap: 150px;
  align-items: center;
  flex-wrap: wrap;
}
.image-btw{
  margin-bottom: 50px;
}

.font-c{
  font-size: 50px;
  color:  #e2b783;
}
.lorem{
  max-width:580px;
  color:#ebcca8; 
  margin-bottom: 50px;
}
.indoor-coll{
  font-size: 35px;
  margin-top: 40px;
  color: #0c3f36;
  text-align: center;
  margin-bottom: 30px;
}

.indoor-image{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.move-top{
  display: grid;
  grid-template-areas: 
  "one twom three"
  "five six three";
  justify-content: center;
  grid-gap: 10px ;
}
.onem{ grid-area: one;}
.twom{grid-area: twom;}
.three{grid-area: three;}
.five{grid-area: five;}
.six{grid-area: six;}

.rev-w{
  width: 100%;
  background-color:  #0c3f36;
  padding: 50px 0px;
  
}
.review{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  color:#ebcca8; 
}
.item1{
  width:300px;
  background-color: white;
 justify-content: center;
 border-radius: 10px;
}
.text-user{
  margin-top: 90px;
  text-align: center;
  font-size: 16px;
}

.item2{
  width: 300px;
  background-color: white;
  justify-content: center;
  border-radius: 10px;
}

.item3{
  width: 300px;
  background-color: white;
  justify-content: center;
  border-radius: 10px;
}
.user-center{
  display: flex;
  justify-content: center;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  color: #0c3f36;
}


.f-user{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: -10px;
}
.upcoming{
  font-size: 33px;
  margin-top: 40px;
  color: #0c3f36;
  text-align: center;
  margin-bottom: 30px;
}
.item-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 120px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.footer{
  width: 100%;
  background-color: #0c3f36;
}

.center-one-footer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  grid-column-gap: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  flex-wrap: wrap;
}
.news,.nav,.abus,.hel{
  color:#fcf9cc;
  letter-spacing: 1px;
}
.lorem-one{
  margin-top: 30px;
  margin-bottom: 30px;
  color:#fcf9cc;
  font-size: 15px;
}

form{
  display: flex;
}
input[type="text"]{ 
  width: 290px;
  height: 40px;
  text-align: center;
  border: none; 
  background-color: #135e50;
  margin-bottom: 20px;
}
::placeholder{
  color:#d3d0ad;
}

input[type="button"]{ 
  width: 130px;
  height: 40px;
  text-align: center;
  border: none; 
  background-color: #cf9860;
  color:  #0c3f36;
  cursor: pointer;
}
.ul1{
  list-style: none;
}
.li1{
  margin: 10px auto;
}
.a1{
  text-decoration: none;
  color:#d3d0ad;
}


.cop{
  margin: auto;
  text-align: center;
    color:#d3d0ad;
    margin-top: ;
}